@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --orange: #eb4f27;
  }

  .logo-white {
    content: url('favicon-white.png') !important;
  }

  .fa-spin {
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
